{% extends "base.html" %}

{% block content %}
    {% if message %}
        <div style="font: 120% red">{{  message }}</div>
    {%  endif %}
    <div style="text-align: center;">
        <form action="{% url screenshot_make %}" method="POST">
            <input type="submit" value="Сделать скриншот">
            {% csrf_token %}
        </form>
    </div>
    {% spaceless %}
        <div id="imagery-outer">
            <div id="imagery-inner">
                {% for cell in cells %}
                    <div>
						<img src="{{ cell.url }}" width="100px" height="100px" id="cell_image_{{ cell.x }}_{{ cell.y }}" />
                        {% if cell.lock %}
								<div class="hovering protected control" id="control_{{ cell.x }}_{{ cell.y }}">
									<div class="actions">
										<p class="upload blocked">{{ cell.elapsed }}</p>
										<p class="guardian"><img src="/src/pzzzle/media/i/protected.png" alt="Залочено"></p>
									</div>
								</div>
                            {% else %}
								<div class="hovering for-protection">
									<div class="actions">
										<p class="upload">
											<a href="/upload?x={{ cell.x }}&y={{ cell.y }}" class="x{{ cell.x }} y{{ cell.y }}">
												<img src="/src/pzzzle/media/i/up.png">
											</a>
										</p>
										<p class="guardian">
											<a href="#" class="icon-link js-lock" id="lock_{{ cell.x }}_{{ cell.y }}" 
												onclick="lock({{ cell.x }}, {{ cell.y }});">
												<img src="/src/pzzzle/media/i/for-protection.png" alt="Залочить">
											</a>
										</p>
									</div>
								</div>

                            {% endif %}
                    </div>
                {% endfor %}
            </div>
				<div id="modal">
				<form id="push-up" action="/upload" enctype="multipart/form-data" method="post">    
					{% csrf_token %}  
					<input type="hidden" name="x" value="" id="absciss"/>
					<input type="hidden" name="y" value="" id="ordinat"/>
					<input type="hidden" name="ajax" value="make"/>
					<input type="hidden" name="iframe_name" value="" id="iframe_name" />
					<input id="File1" type="file" size="86" name="pic"/>
					<input type="submit" value="Pzzzle!" id="push"/>
				</form>
				<div id="preview"></div>
				<p class="info">100x100 px</p>
				<div class="action-icons"><div><img src="{{ MEDIA_URL }}i/wth.png"/></div><div><img src="{{ MEDIA_URL }}i/link.png"/></div></div>
				<div class="space"><p>≤ 30 kb</p></div>
				<img src="{{ MEDIA_URL }}i/close.png" class="close"/>
			</div>
        </div>
    {% endspaceless %}
 

    <div id="uploader" class="hidden"></div>

{% endblock %}